html,body{
    height : 100%;
    width : 100%;
    margin : 0px;
    padding : 0px;
}

body{
    font-family: 'Muli', sans-serif;
    overflow: auto;

    // Main wrapper
    .wrapper{
        overflow: hidden;
        display: block;
        position: relative;
        width: 1168px;
        min-height: 100%;
        height: auto;
        padding-bottom: 50px;

        margin: 0px auto;

        background : -moz-linear-gradient(7.1% 109.92% 45deg,rgba(65, 53, 63, 1) 1.19%,rgba(74, 55, 67, 1) 9.9%,rgba(100, 62, 78, 1) 24.33%,rgba(107, 64, 81, 1) 27.87%,rgba(156, 96, 96, 1) 57.14%,rgba(213, 163, 128, 1) 100%);
        background : -webkit-linear-gradient(45deg, rgba(65, 53, 63, 1) 1.19%, rgba(74, 55, 67, 1) 9.9%, rgba(100, 62, 78, 1) 24.33%, rgba(107, 64, 81, 1) 27.87%, rgba(156, 96, 96, 1) 57.14%, rgba(213, 163, 128, 1) 100%);
        background : -webkit-gradient(linear,7.1% 109.92% ,92.9% -9.92% ,color-stop(0.0119,rgba(65, 53, 63, 1) ),color-stop(0.099,rgba(74, 55, 67, 1) ),color-stop(0.2433,rgba(100, 62, 78, 1) ),color-stop(0.2787,rgba(107, 64, 81, 1) ),color-stop(0.5714,rgba(156, 96, 96, 1) ),color-stop(1,rgba(213, 163, 128, 1) ));
        background : -o-linear-gradient(45deg, rgba(65, 53, 63, 1) 1.19%, rgba(74, 55, 67, 1) 9.9%, rgba(100, 62, 78, 1) 24.33%, rgba(107, 64, 81, 1) 27.87%, rgba(156, 96, 96, 1) 57.14%, rgba(213, 163, 128, 1) 100%);
        background : -ms-linear-gradient(45deg, rgba(65, 53, 63, 1) 1.19%, rgba(74, 55, 67, 1) 9.9%, rgba(100, 62, 78, 1) 24.33%, rgba(107, 64, 81, 1) 27.87%, rgba(156, 96, 96, 1) 57.14%, rgba(213, 163, 128, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#41353F', endColorstr='#D5A380' ,GradientType=0)";
        background : linear-gradient(45deg, rgba(65, 53, 63, 1) 1.19%, rgba(74, 55, 67, 1) 9.9%, rgba(100, 62, 78, 1) 24.33%, rgba(107, 64, 81, 1) 27.87%, rgba(156, 96, 96, 1) 57.14%, rgba(213, 163, 128, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41353F',endColorstr='#D5A380' , GradientType=1);


        @import "auth";
        @import "dashboard";
    }
}