@import "sidebar";

// display sidebar and content panels inline
.sidebar,
.user-control,
.dashboard,
.super-user-control,
.manage-super-user{
    display: inline-block;
}

.user-control,
.dashboard,
.super-user-control,
.manage-super-user {
    width: 950px;
    height: 100%;
    float: right;

    // content header
    .header {
        margin-top: 40px;

        // header icons
        #dashboard-header,
        #user-control-header,
        #super-user-header {
            width: 250px;
            height: 60px;
        }

        #super-super-header-icon {
            width: 280px;
            height: 70px;
        }
    }

    .content {
        margin-top: 50px;
        width: 100%;
        height: 100%;

        @import "imports/tabs";
    }
}

.user-control{
    @import "imports/user_control_tabs";
}

.dashboard{
    @import "imports/main_dashboard_tabs";
}

.super-user-control{
    @import "imports/super_users_tabs";
}

.manage-super-user{
    @import "imports/manage_super_users";
}