@import "sidebar";

// display sidebar and content panels inline
.sidebar,
.user-control,
.dashboard,
.super-user-control{
    display: inline-block;
}


.user-control,
.dashboard,
.super-user-control,
.manage-super-user{
    width: 950px;
    height: 100%;
    float:right;

    // content header
    .header{
        margin-top: 40px;

        // header icons
        #dashboard-header,
        #user-control-header,
        #super-user-header{
            width: 250px;
            height: 60px;
        }

        #super-super-header-icon{
            width: 280px;
            height: 70px;
        }
    }

    // content
    .content{
        margin-top: 50px;
        width: 100%;

        @import "tabs";
        @import "dash_main";
        @import "user-dash";
        @import "super_user";
    }


}