.real-time, .last-reading{
    .tab-header{
        height: 100px;
        width : 100%;
        margin-top: 10px;
        position:relative;

        .details, .raw-data{
            display: inline-block;
            height: 100%;
            float:left;
        }

        .details{
            width:60%;
            .left,.right{
                display: inline-block;
                float:left;
                height: 100%;

                p{
                    margin-left: 50px;
                }
            }

            .left{
                width : 45%;
            }

            .right {
                width : 55%;
            }
        }

        .raw-data{
            width:40%;
            .get-data{
                float:right;
                margin-top: 25px;
                margin-right: 50px;
                font-size:  16px;
                width : 200px;
                height : 45px;
                font-family: 'Muli', sans-serif;
                background : rgba(238, 224, 223, 1);
                border: 1px solid rgba(193, 53, 78, 1);
                border-radius : 3px;
                -moz-border-radius : 3px;
                -webkit-border-radius : 3px;
                padding : 13px;
                color: rgba(193, 53, 78, 1);;
                font-weight :bold;
                cursor: pointer;
                &:hover{
                    background : rgba(193, 53, 78, 1);
                    color:white;
                }
            }
        }
    }

    .reading{
        border-top: 2px solid #bababa;
        border-bottom: 2px solid #bababa;
        margin-top: 10px;
        position: relative;
        margin-left: 50px;
        width: 810px;

        p{
            margin: 0px;
            font-family: 'Muli', sans-serif;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size : 136px;
            color : #D2304F;
            .unit{
                font-size : 50px;
            }
        }
    }
}

.log-history{

    .time-line,.export{
        display: inline-block;
    }

    .export{
        float:right;
        margin-top: 25px;
        margin-right: 50px;

        .exportBtn{
            font-size:  16px;
            width : 200px;
            height : 45px;
            font-family: 'Muli', sans-serif;
            background : rgba(238, 224, 223, 1);
            border: 1px solid rgba(193, 53, 78, 1);;
            border-radius : 3px;
            -moz-border-radius : 3px;
            -webkit-border-radius : 3px;
            padding : 13px;
            color: rgba(193, 53, 78, 1);;
            font-weight :bold;
            cursor: pointer;
            &:hover{
                background : rgba(193, 53, 78, 1);
                color:white;
            }
        }
    }

    .time-line{
        width : 500px;
        height: 50px;
        border: 1px solid rgba(193, 53, 78, 1);
        -moz-border-radius : 4px;
        -webkit-border-radius : 4px;
        margin-left: 20px;
        margin-top: 20px;

        ul{
            padding : 5px;
            margin : 0px;
            li{
                cursor: pointer;
                list-style: none;
                display: inline-block;
                width : 25%;
                height: 30px;

                float:left;
                border-radius : 3px;
                -moz-border-radius : 3px;
                -webkit-border-radius : 3px;
                color:rgba(193, 53, 78, 1);
                padding-top : 10px;
                text-align:center;
                font-weight:bold;

                &.active{
                    background : rgba(193, 53, 78, 1);

                    a{
                        color :white;
                    }
                }

                a{
                    text-decoration : none;
                    color  : rgba(193, 53, 78, 1);
                }
            }
        }
    }

    .data{
        margin-left: 20px;
        margin-top: 20px;
        display: block;
        margin-bottom : 50px;
        table{
            margin-bottom : 50px;
            width: 830px;
            background-color:#beb5b5;

            thead{
                tr{
                    td{
                        height : 30px;
                        text-align:center;
                    }
                }
            }

            tbody{
                tr{
                    td{
                        background : #EEE0DF;
                        height : 30px;
                        padding: 5px;
                        color : #616161;
                        font-family: 'Muli', sans-serif;
                        font-size : 16px;

                        #log-history-disable-user-icon{
                            width : 18px;
                            height: 18px;
                            margin-left : 23px;
                        }

                        &.status{
                            width : 70px;
                        }

                        &.litres{
                            width : 90px;
                        }

                        &.date-time{
                            width : 200px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .paginator{
        position : relative;
        bottom : 0px;
        .pagination{
            text-align:right;
            margin-right : 25px;
            li{
                display :inline-block;
                padding : 10px;

                a{
                    cursor: pointer;
                    color: rgba(193, 53, 78, 1);
                }

                &:first-child, &:last-child{
                    padding : 0px;
                    display: inline-block;
                    font-size:  16px;
                    width : 120px;
                    font-family: 'Muli', sans-serif;
                    background : rgba(238, 224, 223, 1);
                    border: 1px solid rgba(193, 53, 78, 1);
                    border-radius : 3px;
                    -moz-border-radius : 3px;
                    -webkit-border-radius : 3px;
                    color: rgba(193, 53, 78, 1);
                    font-weight :bold;
                    text-align:center;

                    &:hover{
                        background : rgba(193, 53, 78, 1);
                        span,a{
                            color:white;
                        }
                    }

                    span,a{
                        padding : 10px;
                        height : 20px;
                        width: 100px;
                        display: block;
                        text-decoration: none;
                    }
                    
                    span{
                        cursor: not-allowed;
                    }
                }

                &.active, &.disabled{
                    color : rgba(193, 53, 78, 1);
                }
            }
        }
    }
}