.location-list{
    .data{
        margin-left: 20px;
        margin-top: 20px;
        table{
            margin-bottom : 50px;
            width: 830px;
            background-color:#beb5b5;

            thead{
                tr{
                    td{
                        height : 30px;
                        text-align:center;

                        .filter-up, .filter-down{
                            height : 10px;
                            width : 10px;
                            cursor: pointer;
                        }
                    }
                }
            }

            tbody{
                tr{
                    td{
                        background : #EEE0DF;
                        height : 30px;
                        padding: 5px;
                        color : #616161;
                        font-family: 'Muli', sans-serif;
                        font-size : 16px;

                        #log-history-disable-user-icon{
                            width : 18px;
                            height: 18px;
                            margin-left : 10px;
                        }

                        &:first-child{
                            width : 500px;
                        }

                        &.view, &.edit, &.remove{
                            width : 120px;
                            text-align:center;
                            a{
                                color:grey;

                                &:hover{
                                    color : #C1354E;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .paginator{
        position : relative;
        bottom : 0px;
        .pagination{
            text-align:right;
            margin-right : 25px;
            li{
                display :inline-block;
                padding : 10px;

                a{
                    cursor: pointer;
                    color: rgba(193, 53, 78, 1);
                }

                &:first-child, &:last-child{
                    padding : 0px;
                    display: inline-block;
                    font-size:  16px;
                    width : 120px;
                    font-family: 'Muli', sans-serif;
                    background : rgba(238, 224, 223, 1);
                    border: 1px solid rgba(193, 53, 78, 1);
                    border-radius : 3px;
                    -moz-border-radius : 3px;
                    -webkit-border-radius : 3px;
                    color: rgba(193, 53, 78, 1);
                    font-weight :bold;
                    text-align:center;

                    &:hover{
                        background : rgba(193, 53, 78, 1);
                        span,a{
                            color:white;
                        }
                    }

                    span,a{
                        padding : 10px;
                        height : 20px;
                        width: 100px;
                        display: block;
                        text-decoration: none;
                    }

                    span{
                        cursor: not-allowed;
                    }
                }

                &.active, &.disabled{
                    color : rgba(193, 53, 78, 1);
                }
            }
        }
    }
}

.add-location,
.edit-location{
    .location-form,
    .edit-location-form{
        margin-left: 20px;
        width : 850px;

        .section{
            clear:both;
            height : auto;
            overflow:hidden;
            padding-top: 30px;
            padding-bottom : 30px;
            .subsection{
                height: 50px;
                overflow: hidden;
                width : 100%;

                .left, .right{
                    padding-top: 2px;
                    height: 30px;
                    float:left;
                    display: inline-block;

                    .invalid-input-tooltip{
                        width : 150px;
                        height: 40px;
                        margin-left : 5px;

                        text{
                            font-size: 14px;
                        }

                        &.password{
                            width : 200px;
                            height: 40px;
                            margin-left : 5px;

                            text{
                                font-size: 14px;
                            }
                        }
                    }

                    input,.invalid-input-tooltip{
                        display:inline-block;
                        float:left;
                    }

                    input{
                        padding: 5px;
                        width : 330px;
                        height: 25px;
                        background-color:transparent;
                        border : 2px solid  #beb5b5;
                        color:grey;
                        font-size : 14px;
                        color:black;

                        &.invalid{
                            border-color : #C1354E;
                        }

                        &:focus{
                            outline: none;
                            border-color: rgba(193, 53, 78, 1);
                        }
                    }

                    input[type="submit"]{
                        cursor: pointer;
                        border : 1px solid rgba(210, 48, 79, 1);
                        border-radius : 4px;
                        -moz-border-radius : 4px;
                        -webkit-border-radius : 4px;
                        width: 150px;
                        height: 35px;
                        font-family: 'Muli', sans-serif;
                        font-size : 16px;
                        background-color:transparent;
                        color:rgba(210, 48, 79, 1);
                        text-align:center;
                        float:right;

                        &:hover{
                            background : rgba(210, 48, 79, 1);
                            border-color: rgba(210, 48, 79, 1);
                            color:white;
                        }
                    }

                }

                .left{
                    color:#616161;
                    width : 250px;
                    padding-top : 8px;
                }

                .right{
                    width : 600px;
                }
            }
        }

        .section:not(:last-child){
            border-bottom : 2px solid #beb5b5;
        }

        .section:last-child{
            height: 150px;
        }
    }
}

.edit-location-form{
    .messages{
        clear:both;
        width : 840px;
        .message{
            width : 100%;
            height : 50px;
            background : rgba(193, 53, 78, 1);
            margin-top : 10px;
            color:white;
            padding-top: 20px;
            padding-left : 20px;

            &.hide{
                display: none;

            }


            .icon,.text{
                height : 50px;
                display: block;
                float:left;
            }

            .icon{
                width : 50px;
            }

            .text{
                padding-top : 5px;
                width : 500px;
            }

            #edit-mode-icon,#disabled-user-message-icon{
                width : 30px;
                height : 30px;
            }

        }
    }
}