ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;

    li{
        font-size: 18px;
        font-family: 'Muli', sans-serif;
        background: none;
        float:left;
        padding-top: 30px;
        text-align:center;
        cursor: pointer;
        width : 305px;
        height: 50px;
        background : #5E484A;
        opacity:0.7;
        color:white;
        margin-right: 1px;


        &.add-user{
            #add-user-tab-icon{
                width: 14px;
                height: 14px;
            }
        }

        &.disabled-user{
            #disabled-users-tab-icon{
                width: 18px;
                height: 18px;
            }
        }

        &.current{

            background : #EEE0DF;
            opacity:1;
            color:black;

            &.add-user{
                #add-user-tab-icon{
                    g{
                        path{
                            fill: black;
                        }
                    }
                    width: 14px;
                    height: 14px;
                }
            }

            &.disabled-user{
                #disabled-users-tab-icon{
                    g{
                        path{
                            fill: black;
                        }
                    }
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}

.tab-content{
    clear:both;
    display: none;
    background : #EEE0DF;
    padding: 15px;
    width: 887px;
    min-height: 500px;
    height : auto;

    &.current{
        display: inherit;
    }
}

