.user-list,.disabled-users{
    .data{
        margin-left: 20px;
        margin-top: 20px;
        table{
            width: 830px;
            background-color:#beb5b5;

            thead{
                tr{
                    td{
                        height : 30px;
                        text-align:center;
                    }
                }
            }

            tbody{
                tr{
                    td{
                        background : #EEE0DF;
                        height : 30px;
                        padding: 5px;
                        color : #616161;
                        font-family : Proxima Nova;
                        font-size : 16px;

                        #log-history-disable-user-icon{
                            width : 18px;
                            height: 18px;
                            margin-left : 10px;
                        }

                        #user-edit-icon{
                            width : 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
}